<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <h1>
      <%= htmlWebpackPlugin.options.title %>
    </h1>
    <main id="main">
      <section id="game">
        <div id="game-wrapper">
          <canvas id="canvas"></canvas>
        </div>
        <footer id="game-actions">
        </footer>
      </section>
      <section id="editor">
        <section id="editor-wrapper">
        </section>
        <section id="debugger" class="debugger">
          <form id="debug-form">
            <fieldset class="debugger__fieldset">
              <label>Thrust</label>
              <input type="range" name="thrust" min="0" max="100" value="0" data-units="%">
              <output name="thrust-value"></output>
            </fieldset>
            <fieldset class="debugger__fieldset">
              <label>Rotation</label>
              <input type="range" name="rotation" min="-360" max="360" value="0" data-units="deg">
              <output name="rotation-value"></output>
            </fieldset>
          </form>
        </section>
        <footer id="editor-actions">
          <button id="debug">Debug</button>
          <button id="run">Run</button>
        </footer>
      </section>
    </main>
  </body>
</html>
