<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <h1>
      <%= htmlWebpackPlugin.options.title %>
    </h1>
    <main id="main">
      <section id="game">
        <div id="game-wrapper">
          <canvas id="canvas"></canvas>
        </div>
        <footer id="game-actions">
        </footer>
      </section>
      <section id="editor">
        <section id="editor-wrapper">
        </section>
        <footer id="editor-actions">
          <button id="run">Run</button>
          <button id="play">Play</button>
        </footer>
      </section>
    </main>
  </body>
</html>
