#main {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 1280px;
}

#game {
    border-right: 1px solid black;
    height: 480px;
    width: 640px;
}

#editor {
    display: flex;
    flex-direction: column;
    height: 480px;
    overflow-y: auto;
    width: 640px;
}

#editor-wrapper {
    flex: 1;
}

#actions {
    border-top: 1px solid black;
    display: flex;
    gap: 10px;
    justify-content: right;
    padding: 10px;
}
