html {
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

$button-border: 3px;

button {
  background-color: white;
  border: $button-border solid black;
  clip-path: polygon(
    0 $button-border,
    $button-border $button-border,
    $button-border 0,
    calc(100% - $button-border) 0,
    calc(100% - $button-border) $button-border,
    100% $button-border,
    100% calc(100% - $button-border),
    calc(100% - $button-border) calc(100% - $button-border),
    calc(100% - $button-border) 100%,
    $button-border 100%,
    $button-border calc(100% - $button-border),
    0 calc(100% - $button-border)
  );
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  padding: 8px 12px;
  text-transform: uppercase;

  &:hover {
    background-color: #ccc;
  }
}

input[type="range"] {
  cursor: pointer;
}

#main {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 1280px;
}

#game {
  border-right: 1px solid black;
}

#editor,
#game {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#game-wrapper,
#editor-wrapper,
#debugger {
  height: 480px;
}

#game-actions,
#editor-actions {
  border-top: 1px solid black;
  display: flex;
  gap: 10px;
  padding: 10px;
}

#editor-actions {
  justify-content: right;
}

#editor-wrapper {
  overflow-y: auto;
}

.debugger {
  display: none;

  &__fieldset {
    border: none;
    display: flex;
    gap: 5px;
  }
}

#debug-form {
  padding: 10px;
}

.debugger__fieldset {
}
